# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

EXPO_PUBLIC_CONVEX_URL=

EXPO_PUBLIC_CONVEX_SITE_URL=

CLERK_JWT_ISSUER_DOMAIN=

CONVEX_ENV="development"

EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=


# Google OAuth
EXPO_PUBLIC_CLERK_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_CLERK_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_CLERK_GOOGLE_IOS_CLIENT_ID=


EXPO_PUBLIC_CLERK_GOOGLE_IOS_CLIENT_ID=

# (iOS only)
# EXPO_PUBLIC_CLERK_GOOGLE_IOS_URL_SCHEME is the URL scheme for Google sign-in callback
# Replace your-ios-client-id with the same <your-ios-client-id> from EXPO_PUBLIC_CLERK_GOOGLE_IOS_CLIENT_ID. It should only be the part of your iOS Client ID before ".apps.googleusercontent.com".
EXPO_PUBLIC_CLERK_GOOGLE_IOS_URL_SCHEME=

ANTHROPIC_API_KEY=

OPENAI_API_KEY=

POSTHOG_PROJECT_TOKEN=
POSTHOG_HOST=

EXPO_PUBLIC_AGENT_ID=